<!DOCTYPE html>
<html>
  <head>
    <title>RailsTester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>p tag before 'yield'</p>
    <%= yield %>
    <h4>h4 tag after 'yield'</h4>
  </body>
</html>
