/* mixins variables. erc */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* misscellaneous*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 15px;
  @include box_sizing;
}
