<h1>Kittens#edit</h1>
<p>Find me in app/views/kittens/edit.html.erb</p>

<%= render 'form' %>
<span><%= link_to "Hide kitty", kitten_path, method: :delete, data: { confirm: "Look at his eyes, and ask yourself once again"} %></span>
