<h1>All Events</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Event name</th>
        <th>Place</th>
        <th>Event Date</th>
        <th>Event Creator</th>
      </tr>
    </thead>
    <tbody>

        <tr><% @events.each do |e| %></tr>
          <td><%= e.name %></td>
          <td><%= e.place %></td>
          <td><%= e.date %></td>
          <td><%= e.creator.name %></td>
        <% end %>

    </tbody>
  </table>
</div>
