<div class="container">
  <% @posts.each do |p| %>
    <div class="container-fluid">
      <div class="row post">

        <div class="author-field">
          Author: <%= logged_in? ? p.user.name : "Log in to see the author" %>
        </div>

        <div class="body-field">
          <p>Title: <%= p.title %></p>
          <p>Body: <%= p.body %></p>
        </div>

      </div>
    </div>
  <% end %>
</div>
