<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "IVENTBRITE", root_url, id: "logo"%>
    <nav>
        <ul class="nav navbar-nav navbar-right">

          <% if current_user? %>
            <li><%= link_to "Signed in as #{current_user.name}"%></li>
            <li><%= link_to "Sign out", "#" %></li>
          <% else %>
            <li><%= link_to "New user", new_user_path %></li>
          <% end %>

        </ul>
      </nav>
  </div>
</header>
