<html>
  <head>
    <title>Mastermind in Sinatra</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
  </head>
  <body>
  <h2>MASTERMIND</h2>

  <% if message.nil? %>
    <form action="/" method="post">
      Your input (hint: in the following format "C C C C"):
      <input type="text" name="input"><br><br>
      <input type="submit" value="submit these pegs">
    </form>
  <% end %>

  <% unless message.nil? %>
    <%= message %>
  <% end %>

  <form action="/" method='GET'>
    <input type="submit" value="New Game">
  </form>

  <h1><%= goal %></h1>

  <% unless input.nil? %>
    <div>
      <span class="board">
        <% slots.each do |row| %>
          <table>
            <tr>
              <td><%= row %></td>
            </tr>
          </table>
        <% end %>
      </span>
      <span class="board">
        <% check_slots.each do |row| %>
          <table>
            <tr>
              <td><%= row %></td>
            </tr>
          </table>
        <% end %>
      </span>
    </div>
  <% end %>

  </body>
</html>
