<div>
  <h3>Mastermind - Rules of the game.</h3>


<p>- The computer picks a sequence of four colors. </p>

<p>- The objective of the game is to guess the exact positions of the colors in the computer's sequence.</p>

<p>- Colors can be duplicated in one code sequence</p>

<p>- After providing the input field wirh first letters of possible colors (check below) and click 'Submit these pegs', the computer responses with the result of your guess.</p>

<p>Possible colors are:</p>
<p>R for red</p>
<p>A for azure</p>
<p>G for green</p>
<p>Y for yellow</p>
<p>B for black</p>
<p>W for white</p>
<p>M for magenta</p>
<p>O for orange</p>

<p>- Format these colors line this: 'C C C C' where 'C' is first letter of color.</p>
<p>- Example input is: 'R G B M'</p>

<p>- For each color in your guess that is in the correct color and correct position in the code sequence, the computer display 'X' on the right side of the current guess.</p>

<p>- For each color in your guess that is in the correct color but is NOT in the correct position in the code sequence, the computer display 'O' on the right side of the current guess.</p>

<p>- You win the game when you manage to guess all the colors in the code sequence and when they all in the right position.</p>

<p>- You lose the game if you use all twelve attempts without guessing the computer code sequence.</p>

<p>You can now close this tab and play</p>

<p>- Good Luck!!</p>

</div>


